.clock {
    --clock-size: 360px;
    width: var(--clock-size);
    height: var(--clock-size);
    position: fixed;
    inset: 0;
    margin: auto;
    border-radius: 50%;
}
.spike {
    position: absolute;
    width: 8px;
    height: 1px;
    
}